/* ==================================================
   RESPONSIVO
================================================== */

@media (max-width: 900px) {
  .app {
    grid-template-columns: 80px 1fr;
  }

  .sidebar-header h1 {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 600px) {

  .app {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: relative;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-bottom: 1px solid var(--border);
  }

  main {
    margin-left: 0;
  }
}