:root{
--bg:#121217;
--card: #18181f;
--text:white;
--accent:#8b5cf6
}

body.light{
--bg:#ffffff;
--card:rgb(85, 84, 84);
--text:#000000;
--accent: #8b5cf6;
}

body{
margin:0;
font-family:Arial;
background:var(--bg);
color:var(--text);
display:flex;
}

/* SIDEBAR */

.sidebar{
width:260px;
height: 100vh;
background:var(--card);
padding:30px;
transition:0.3s;
position: fixed;
}

.sidebar-actions{
margin-top:20px;
display:flex;
flex-direction:column;
align-items: center;
}

#newCard {
width:260px;
height: 100vh;
position: fixed;
top:0;
right:0;
}


input,select, #answer {
width:100%;
padding:10px;
margin:8px 0;
border-radius:10px;
border:none;
scale: none;
}

input, #answer {
width:95%;
}

#question {
    height: 40px;
}

#answer {
    height: 200px;
    width: 100%;
}

button{
padding:15px;
margin-top:10px;
border:none;
border-radius:15px;
cursor:pointer;
background:var(--accent);
color:white;
box-shadow: #fbfbfc;
}

button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
   scale: 1.1; 
}

/* MAIN */

main{
padding:20px;
padding-right: 260px;
margin-left: 260px;
margin-right: 260px;
}

.ciclos {
margin-left: 0px;
height: 100vh;
width: 100%;
align-self: center;
justify-items: center;
}

.ciclos h1 {
justify-content: center
}


/* NAV */

nav button{
margin-right:10px;
}

/* CARD */

.card{
width:350px;
height:220px;
margin:0;
perspective:1000px;
cursor:pointer;
position:relative;
}

.card {
    min-width: 350px;
    flex: 0 0 auto;
    margin: 0;
}

/* impede que os cards encolham */
.card {
    min-width: 300px;
    flex: 0 0 auto;
}



/* EDIT ICON */

.editIcon{
position:absolute;
top:10px;
right:10px;
cursor:pointer;
font-size:18px;
}

/* DIFFICULTY */

.difficulty button{
margin:5px;
}

/* SWITCH */

.switch{
position:relative;
display:inline-block;
width:50px;
height:24px;
}

.switch input{
display:none;
}


.hidden{
display:none;
}


section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.discipline.disabled {
  opacity: 0.0;
  filter: grayscale(100%);
  pointer-events: none;
}
.discipline {
    margin-bottom: 40px;
    text-align: left;
}

.cards-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px 0;
}

.discipline.active {
    opacity: 1;
    pointer-events: auto;
}

.discipline h1 {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--gold);
}

#flashcard {
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

#flashcard.flipped .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    transform: rotateY(180deg);
}